#image{
    width:200px ;
}
#logo{
    display: flex;
    justify-content: center;
}
#part 
/* head paragraph  */
{
    display: flex;
    justify-content: center;
    background-color: rgba(253,251,241,255) ;
    height: 40px;
    padding-top: 20px;
    border-top: solid rgb(247, 191, 89) 1px; 
    color:rgba(0,77,76,255) ;
    
}
#Title{
    display: flex;
    justify-content: center;
    text-align: center;

}
#description{
    display: flex;
    justify-content: center;
    
}
#focaccia
/* image of the focaccia */
{
width: 650px;
border-radius: 8px;
box-shadow: 10px 8px 5px -5px rgba(0,0,0,0.13);
}
#food{
    display: flex;
    justify-content: center;
}
#credit{
    display: flex;
    justify-content: center;
    color: rgb(133, 133, 133);
}